//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 17 15:16:04 2017
//! **************************************************************************

SCHEMATIC START;
COMP "lcd_rw" LOCATE = SITE "W13" LEVEL 1;
COMP "sf_d<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "sf_d<1>" LOCATE = SITE "AB18" LEVEL 1;
COMP "sf_d<2>" LOCATE = SITE "AB17" LEVEL 1;
COMP "sf_d<3>" LOCATE = SITE "AB12" LEVEL 1;
COMP "sf_d<4>" LOCATE = SITE "AA12" LEVEL 1;
COMP "sf_d<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "sf_d<6>" LOCATE = SITE "AB16" LEVEL 1;
COMP "sf_d<7>" LOCATE = SITE "Y15" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "AB4" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "Y14" LEVEL 1;
SCHEMATIC END;

